# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Project outputs
todo.txt
*.csv
*.pdf

# CatBoost
catboost_info/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
